.o_dobtor_ai_web {
    .o_daih_screen {
        flex: 0 0 auto;
        max-height: 40%;
        overflow-y: auto;
        border-bottom: 1px solid #e5e5e5;
        background: #fafafa;
    }

    .o_daih_link {
        white-space: normal;
    }
}
