<?xml version="1.0" encoding="UTF-8"?>  
       
<templates xml:space="preserve">
	<t t-extend="mail.ChatComposer">
        <t t-jquery=".o_composer_buttons" t-operation="replace">
             <div class="btn-group">
                <button tabindex="3" class="btn btn-sm btn-primary o_composer_button_send" type="button"><t t-esc="widget.options.send_text"/></button>
                <button tabindex="4" class="btn btn-sm btn-icon fa fa-smile-o o_composer_button_emoji" type="button" data-toggle="popover"/>
                <button tabindex="5" class="btn btn-sm btn-icon fa fa-paperclip o_composer_button_add_attachment" type="button"/>
             </div>
        </t>
    </t>
</templates>
