.o-messaging-CompanyAutocomplete {
    .o-messaging-CompanyAutocomplete-menu {
        position: absolute;
        z-index: 1080;
        max-height: 16rem;
        overflow-y: auto;
    }
}

.o-messaging-CompanyMenu {
    max-height: 18rem;
    overflow-y: auto;
}
